# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Algolia Crawl

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Deploy Site]
    types: [completed]

jobs:
  build:
    name: Algolia Crawl
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Algolia Crawl
        uses: algolia/algoliasearch-crawler-github-actions@v1.1.10
        if: github.ref == 'refs/heads/master'
        with:
          crawler-user-id: ${{ secrets.CRAWLER_USER_ID }}
          crawler-api-key: ${{ secrets.CRAWLER_API_KEY }}
          algolia-app-id: ${{ secrets.ALGOLIA_APP_ID }}
          algolia-api-key: ${{ secrets.ALGOLIA_API_KEY }}
          site-url: 'https://recyclarr.dev'
          crawler-name: recyclarr
