# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy Site

on:
  push:
    paths:
      - .github/workflows/build-and-deploy.yml
      - "docs/**"
      - "src/**"
      - "static/**"
      - "**.js"
      - "**.json"
      - "**.lock"
  pull_request:
    paths:
      - .github/workflows/build-and-deploy.yml
      - "docs/**"
      - "src/**"
      - "static/**"
      - "**.js"
      - "**.json"
      - "**.lock"

permissions:
  contents: read
  deployments: write
  pull-requests: read

jobs:
  pre-check:
    uses: recyclarr/recyclarr/.github/workflows/reusable-precheck.yml@master

  build:
    name: Deploy Site
    needs: pre-check
    if: needs.pre-check.outputs.should_run == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: 24
          cache: yarn

      - name: Install Dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        # Publish all direct pushes to the repo, for secrets access. But ignore pull requests.
        # Non-master branches get published with a temporary URL (not the main site URL).
        if: github.event_name != 'pull_request'
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy build --project-name=recyclarr-wiki
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Cleanup old deployments
        uses: Th3S4mur41/cleanup-cloudflare-deployments@main
        if: github.event_name != 'pull_request'
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          cloudflare-account-id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare-project-name: recyclarr-wiki
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cleanup-types: all
          preview-keep: 5
          production-keep: 5
