# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Markdown Lint

on:
  push:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - .markdownlint.yml
  pull_request:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - .markdownlint.yml

jobs:
  markdownlint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Lint Markdown Files
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: |
            **.md
