# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Markdown Lint

on:
  push:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - .markdownlint.yml
  pull_request:
    paths:
      - "**.md"
      - .github/workflows/markdown-lint.yml
      - .markdownlint.yml

jobs:
  markdownlint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Lint Markdown Files
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
        with:
          globs: |
            **.md
